// Header styles
header{
    background-image: url(../../images/hero\ image.png);
    margin: 0 auto;
    height: 800px;
    margin-bottom: 367px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
